.Header-wrapper {
    padding-bottom: 2%;
}

.Header-menuWrapper {
    padding-bottom: 2%;
}

.Header-headerWrapper {
    align-items: center;
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
}

.Header-textWrapper {
    align-items: center;
    width: 100%;
}

.Header-monthButton {
    align-items: center;
    cursor: pointer;
}