.ToDoItem-wrapper {
    border-bottom: 1px solid black;
}

.ToDoItem-textWrapper {
    padding: 1%;
}

.ToDoItem-iconWrapper {
    width: 15%;
    height: 100%;
    padding: 1%;
}

.ToDoItem-iconWrapper:hover {
    cursor: pointer;
}

.ToDoItem-icon {
    width: 20%;
    height: 2%;
}